
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Students' Gymkhana, IIT NAGPUR</title>

  <!-- Favicons -->

  <link rel="shortcut icon" href="https://iiitn.ac.in/images/Favicon.ico">
  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/icofont/icofont.min.css" rel="stylesheet">
  <link href="assets/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="assets/vendor/ionicons/css/ionicons.min.css" rel="stylesheet">
  <link href="assets/vendor/animate.css/animate.min.css" rel="stylesheet">
  <link href="assets/vendor/venobox/venobox.css" rel="stylesheet">
  <link href="assets/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="assets/vendor/aos/aos.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="assets/css/style.css" rel="stylesheet">
  <link href="assets/css/team.css" rel="stylesheet">
  <style type="text/css">
.mobile-nav-toggle {
  position: fixed;
  right: 15px;
  top: 4.05vh;
  z-index: 9998;
  border: 0;
  background: none;
  font-size: 26px;
  transition: all 0.4s;
  outline: none !important;
  line-height: 1;
  cursor: pointer;
  text-align: right;
}
  </style>
</head>

<body>
  <!-- ======= Header ======= -->
    <%- include ('header.ejs') %>


  <!-- Google Map for the campus -->
<section id="map" style="margin-top: 6%; width: 100%; ">
  <iframe
    src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d14904.240013835068!2d79.02650408462524!3d20.950105355730972!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sin!4v1650608177112!5m2!1sen!2sin"
    width="1500" height="500" style="border:0;" allowfullscreen="" loading="lazy"
    referrerpolicy="no-referrer-when-downgrade"></iframe>
</section>

  <div class="container">
     <div class="row">
      <div class="col-lg-6 col-sm-6 col-md-6">
        <div class="clearfix">&nbsp;</div>
        <header class="section-header wow fadeInUp">
            <h3> Contact Us </h3>
        </header>
        <div>
         <br>IIIT Nagpur<br>Survey No. 140,141/1 behind Br. Sheshrao Wankhade Shetkari Sahkari Soot Girni, Village - Waranga, PO -
        Dongargaon(Butibori), Tahsil- Nagpur (Rural), District Nagpur, Maharashtra- 441108<br>
              Email ID: registrar@iiitn.ac.in<br>
              Phone No.: 9405215010
        </div>
        <br>
        <div class="social-media">
          <h3>Connect with us :</h3>
          <div class="social-icons" >
            <a href="https://m.facebook.com/IIITNagpurOfficial/posts" style="padding-right: 2vw;">
              <i class="fab fa-facebook-f"></i>
            </a>
            <a href="https://twitter.com/IIITN_OFFICIAL" style="padding-right: 2vw;">
              <i class="fab fa-twitter"></i>
            </a>
            <a href="https://www.instagram.com/iiit_nagpur_official/?hl=en" style="padding-right: 2vw;">
              <i class="fab fa-instagram"></i>
            </a>
            <a href="https://www.linkedin.com/in/iiitnofficial/" style="padding-right: 2vw;">
              <i class="fab fa-linkedin-in"></i>
            </a>
          </div>
        </div>
      </div>
      <br><br>

      <div class="col-lg-6 col-sm-6 col-md-6">&nbsp;
        <header class="section-header wow fadeInUp">
        	<h3>FEEDBACK</h3>
        </header>
        <br>
        <div class="">
          <form action="/contact/submit/" method="post">
            <div class="form-group">
              <label for="inputName" class="control-label">Name</label>
              <input type="text" name="name" class="form-control" id="inputName" placeholder="Enter your name" required maxlength="150">
            </div>
            <br>
            <div class="form-group">
              <label for="inputName" class="control-label">Contact Number</label>
              <input type="text" name="contact" class="form-control" id="inputContact" placeholder="Enter your  Contact Number" required maxlength="11">
            </div>
            <br>
            <div class="form-group">
              <label for="inputEmail" class="control-label">E-mail Address</label>
              <input type="email" name="email" class="form-control" id="inputEmail" placeholder="Enter your E-mail Address" data-error="Sorry, that email address is invalid" required maxlength="150">
              <div class="help-block with-errors"></div>
            </div>
            <br>
             <div class="form-group">
              <label for="inputName" class="control-label">Feedback</label>
              
              <textarea class="form-control" id="exampleTextarea"  rows="5" name="feedback" placeholder="Enter your feedback" required></textarea>
            </div>
            
            <br>
            <div class="form-group">
              <button type="submit" name="submit" class="btn btn-primary">Submit</button>
            </div>
            <br>
          </form>
           
        </div>
      </div>
     
    </div>
    
  </div>

<!-- Footer Section -->
      <%- include ('footer.ejs') %>
    
      <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
      <!-- Uncomment below i you want to use a preloader -->
      <!-- <div id="preloader"></div> -->
    
      <!-- Vendor JS Files -->
      <script src="assets/vendor/jquery/jquery.min.js"></script>
      <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
      <script src="assets/vendor/jquery.easing/jquery.easing.min.js"></script>
      <!-- <script src="assets/vendor/php-email-form/validate.js"></script> -->
      <script src="assets/vendor/waypoints/jquery.waypoints.min.js"></script>
      <script src="assets/vendor/counterup/counterup.min.js"></script>
      <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
      <script src="assets/vendor/venobox/venobox.min.js"></script>
      <script src="assets/vendor/owl.carousel/owl.carousel.min.js"></script>
      <script src="assets/vendor/aos/aos.js"></script>
    
      <!-- Template Main JS File -->
      <script src="assets/js/main.js"></script>
    <script src="/assets/js/contact.js"></script>
  </body>
</html>



