<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Students' Gymkhana, IIIT NAGPUR</title>

    <!-- Favicons -->

    <link rel="shortcut icon" href="https://iiitn.ac.in/images/Favicon.ico">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/vendor/icofont/icofont.min.css" rel="stylesheet">
    <link href="assets/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="assets/vendor/ionicons/css/ionicons.min.css" rel="stylesheet">
    <link href="assets/vendor/animate.css/animate.min.css" rel="stylesheet">
    <link href="assets/vendor/venobox/venobox.css" rel="stylesheet">
    <link href="assets/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="assets/vendor/aos/aos.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="assets/css/style.css" rel="stylesheet">
</head>

<body>
    <!-- ======= Header ======= -->
    <%- include ('header.ejs') %>

        <!-- ======= Intro Section ======= -->
        <section id="intro" style="margin-top: 6%;">
            <div class="intro-container">
                <div id="introCarousel" class="carousel  slide carousel-fade" data-ride="carousel">

                    <div class="carousel-inner" role="listbox">

                        <div class="carousel-item active" style="background-image: url(./assets/img/fests/1.jpg)">
                            <div class="carousel-container">
                                <div class="container">
                                    <h3> TANTRAFIESTA </h3>
                                    <h3> IIIT NAGPUR</h3>
                                </div>
                            </div>
                        </div>

                        <div class="carousel-item" style="background-image: url(./assets/img/fests/2.JPG)">
                            <div class="carousel-container">
                                <div class="container">
                                    <h3> ABHIVYAKTI </h3>
                                    <h3> IIIT NAGPUR</h3>
                                </div>
                            </div>
                        </div>

                        <div class="carousel-item" style="background-image: url(./assets/img/fests/3.JPG)">
                            <div class="carousel-container">
                                <div class="container">
                                    <h3> E-SUMMIT </h3>
                                    <h3> IIIT NAGPUR</h3>
                                </div>
                            </div>
                        </div>

                        <div class="carousel-item" style="background-image: url(./assets/img/fests/4.jpg)">
                            <div class="carousel-container">
                                <div class="container">
                                    <h3> ABHIVYAKTI </h3>
                                    <h3> IIIT NAGPUR</h3>
                                </div>
                            </div>
                        </div>

                        <div class="carousel-item" style="background-image: url(./assets/img/fests/5.jpg)">
                            <div class="carousel-container">
                                <div class="container">
                                    <h3> TANTRAFIESTA </h3>
                                    <h3> IIIT NAGPUR</h3>
                                </div>
                            </div>
                        </div>
                    <a class="carousel-control-prev" href="#introCarousel" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon ion-chevron-left" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>

                    <a class="carousel-control-next" href="#introCarousel" role="button" data-slide="next">
                        <span class="carousel-control-next-icon ion-chevron-right" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>

                </div>
            </div>
        </section>
        <!-- /page title -->

        <!-- courses -->
        <br>
        <br>
        <br>

        <section id="services" class="container-sp">
            <div class="row">
                <div class="col-12 col-md-8" data-aos="fade-up">

                    <header class="section-header wow fadeInUp">
                        <h3>TantraFiesta</h3>
                    </header>

                    <div>

                        <p class="p" align="justify"> TantraFiesta is the annual National Level technical fest organized by IIIT Nagpur. Our mission is to develop competent and capable YOUTH imbued with the spirit of Innovation and Entrepreneurship, with the Social and Environmental
                            orientation to meet the knowledge needs of the country.Committing to our motto, TantraFiesta will organise events to showcase talent in the fields of Robotics, Artificial Intelligence, Internet of Things, Scientific Computing,
                            Design, Algorithms, AR/VR, Game Dev, etc.</p>


                    </div>

                </div>
                <div class="col-12 col-md-4">
                    <div class="container">
                        <div class="card border-top-0 rounded-5 hover-shadow">
                            <div class="card-img position-relative">
                                <img class="card-img-top rounded-5" src="https://tantrafiesta2k21.web.app/static/media/aboutTantra.4c9c8fab.png" alt="event thumb">

                            </div>
                            <div class="card-body">

                                <h4 class="card-title">TantraFiesta</h4>

                                <!-- social media -->
                                <div class="d-flex align-items-end bd-highlight mb-3">
                                    <div class="mr-auto p-2 bd-highlight">
                                        <a class="text-primary" href="https://tantrafiesta2k21.web.app/">WEBSITE</a></div>
                                    <div class="p-2 bd-highlight">
                                        <a class="d-inline-block p-1" href="https://www.instagram.com/tantrafiesta/?hl=en" class="instagram"><i class="fa fa-instagram"></i></a>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>

                </div>
        </section>



        <section id="services" class="container-sp">
            <div class="row">

                <div class="col-12 col-md-8" data-aos="fade-up">

                    <header class="section-header wow fadeInUp">
                        <h3>Abhivyakti</h3>
                    </header>

                    <div>

                        <p class="p" align="justify">Abhivyakti is the Annual Cultural fest organized by IIIT Nagpur. The idea behind Abhivyakti is to provide a stage for students to come up with their talents and shine. Abhivyakti is a cultural extravaganza that showcases an envious
                            talent pool and a home to expressions. It's the floor where students learn to coordinate, manage, interact and work together as a team with common objectives.We aim to bring out students hidden talents beyond academics and
                            build a strong community of students from IIIT Nagpur as well as institutions across the country providing them a platform to develop skills and promote Indian Culture and Social Ideology with creativity.The theme of Abhivyakti
                            2022 is “The New Normal”. The changes in the way of doing everything have been apparent since the pandemic has hit us and now, the changed things have become normal. However, this does not mean that things that add happiness
                            to our lives need to change. We still have our beautiful culture and IIIT Nagpur has taken this chance to hold the annual cultural fest, Abhivyakti 2022 to bring out culture forward. The theme of Abhivyakti 2022 is “The New
                            Normal”. A total of 8 competitions would be organized where participants from all over India would take part. Each competition will be organized on various social media platforms like instagram, FaceBook, Youtube, etc. There
                            would be opening and closing ceremonies and also an influencer would be invited in the closing ceremony to entertain the participants. A total of 8 competitions would be organized where participants from all over India would
                            take part. Each competition will be organized on various social media platforms like instagram, FaceBook, Youtube, etc. There would be opening and closing ceremonies and also an influencer would be invited in the closing ceremony
                            to entertain the participants.</p>


                    </div>

                </div>


                <div class="col-12 col-md-4 order-md-first" style="margin-top: 14vh;">
                    <div class="card border-top-0 rounded-5 hover-shadow">
                        <div class="card-img position-relative">
                            <img class="card-img-top rounded-5" src="assets/img/abhivyakti.jpg" alt="event thumb">

                        </div>
                        <div class="card-body">
                            <h4 class="card-title">ABHIVYAKTI</h4>
                            <!-- social media-->
                            <div class="d-flex align-items-end bd-highlight mb-3">
                                <div class="mr-auto p-2 bd-highlight">
                                    <a class="text-primary" href="https://www.Abhivyakti.org/">WEBSITE</a></div>
                                <div class="p-2 bd-highlight">
                                    <a class="d-inline-block p-1" href="https://www.instagram.com/abhivyakti_iiitn/?hl=en" class="instagram"><i class="fa fa-instagram"></i></a>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>





            </div>

            </div>

        </section>



        <section id="services" class="container-sp">
            <div class="row">
                <div class="col-12 col-md-8" data-aos="fade-up">

                    <header class="section-header wow fadeInUp">
                        <h3>E-SUMMIT</h3>
                    </header>

                    <div>

                        <p class="p" align="justify"> E summit is the Flagship event of IIIT Nagpur under the Innovation Council Club. We bring together students, professors, new-age entrepreneurs, leaders, and investors on a common platform. We instill the spirit of innovation and
                            entrepreneurship among them. E summit is the Flagship event of IIIT Nagpur under the Innovation Council Club. We bring together students, professors, new-age entrepreneurs, leaders, and investors on a common platform. We instill
                            the spirit of innovation and entrepreneurship among them.</p>


                    </div>

                </div>
                <div class="col-12 col-md-4">
                    <div class="card border-bottom rounded-5 hover-shadow">
                        <div class="card-img position-relative">
                            <img class="card-img-top rounded-5" src="https://esummit.vercel.app/_next/image?url=%2Flogos%2Flogo.png&w=384&q=75" alt="event thumb">

                        </div>
                        <div class="card-body">

                            <h4 class="card-title">E-SUMMIT</h4>

                            <!-- social media -->
                            <div class="d-flex align-items-end bd-highlight mb-3">
                                <div class="mr-auto p-2 bd-highlight">
                                    <a class="text-primary" href="http://www.iplfantasyleague-ashvamedha.web.app/">WEBSITE</a></div>
                                <div class="p-2 bd-highlight">
                                    <a class="d-inline-block p-1" href="https://www.facebook.com/pages/category/Sports-Event/Ashvamedha-Sports-fest-489397321810888/" class="facebook"><i class="fa fa-facebook"></i></a>
                                </div>
                                <div class="p-2 bd-highlight">
                                    <a class="d-inline-block p-1" href="https://www.instagram.com/ashvamedha_iitbbs/" class="instagram"><i class="fa fa-instagram"></i></a>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </section>


        <!-- ======= Footer ======= -->
        <%- include ('footer.ejs') %>

            <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
            <!-- Uncomment below i you want to use a preloader -->
            <!-- <div id="preloader"></div> -->

            <!-- Vendor JS Files -->
            <%- include ('jsfiles.ejs') %>

</body>

</html>