<header id="header" class="fixed-top header-transparent" style="background-color: black; padding-bottom: 2%;">
    <div class="container-fluid">

        <div class="row justify-content-center">
            <div class="col-xl-11 d-flex align-items-center">
                <a href="https://iiitn.ac.in/" style="border-left:0px; padding-right:14px;" class="logo"><img
                        src="assets/img/iiitn.png" class="img-fluid"></a>
                <a href="" class="logo mr-auto">
                    <img src="/assets/img/SGLogo2.png" alt="" class="img-fluid">
                </a>


                <nav class="nav-menu d-none d-lg-block">
                    <ul>
                        <li class="active"><a href="/" style="color: white;">Home</a></li>
                        <li><a href="facilities" style="color: white;">Facilities</a></li>

                        <li><a href="fests" style="color: white;">Fests</a></li>
                        <li class="drop-down"><a href="#" style="color: white;">Clubs</a>
                            <ul>
                                <li><a href="orator">Orator</a></li>
                                <li><a href="probe">Probe</a></li>
                                <li><a href="ace">ACE</a></li>
                            </ul>
                        </li>
                        <li><a href="office" style="color: white;">Office</a></li>

                        <li><a href="contact" style="color: white;">Contact Us</a></li>

                        <li><a href="login" style="color: white;">Login</a></li>
                    </ul>
                </nav><!-- .nav-menu -->
            </div>
        </div>

    </div>
</header><!-- End Header -->